<article data-current-tags="{{ current_tags }}" data-current-collection="{{ collection.id }}">
    <details>
        <summary>
            <div class="flex flex-r flex-s-between">
                <p>{{ userSetFilterGroup }}</p>
                <svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line y1="-0.5" x2="6.43381" y2="-0.5" transform="matrix(0.657129 0.753778 -0.657129 0.753778 0 6.14996)" stroke="#101010"/>
                    <line y1="-0.5" x2="7.14868" y2="-0.5" transform="matrix(-0.657129 0.753778 -0.657129 -0.753778 8.92603 5.61151)" stroke="#101010"/>
                    <line x1="4.97607" y1="0.611481" x2="4.97607" y2="10.6115" stroke="#101010"/>
                </svg>
            </div>
        </summary>
        <ul>
            {% if userSetFilterGroup == 'sizes' %}
                {% assign sizes = "5,6,7,7.5,8,9,10,10.5,11" | split: ',' %}
                {% for size in sizes %}
                    <li>
                        <a href="{{ collection.url }}?size={{size}}">{{ size }}</a>
                    </li>
                {% endfor %}
            {% else %}
                {% for block in section.blocks %}
                    {% if block.settings.filter_group == userSetFilterGroup %}
                        {% if block.settings.collection_filter %}
                            {% assign collectionFilter = block.settings.collection_filter %}
                            <li {% if collectionFilter.id == collection.id %} class="bold"{% endif %}>
                                <a href="{{ collectionFilter.url }}">{{ collectionFilter.title }}</a>
                            </li>
                        {% else if block.tag_filter_text %}
                            <li {% if current_tags contains block.tag_filter_text %} class="bold"{% endif %}>
                                <a href="{{ collection.url }}/{{ block.settings.tag_filter_text }}">{{ block.settings.tag_filter_text }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </details>
</article>