{% if context == 'product-card' %}
    {% if product.variants.size > 0 %}
        <ul class="options flex flex-r">
        {% for variant in product.variants %}
            <li class="option {% if variant.available == false%}sold-out{% endif %}">
                <a href="{{ product.url }}?variant={{ variant.id }}">{{ variant.title }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% else if context == 'product-page' %}
    {% if product.variants.size > 0 %}
        <ul class="options options-grid">
        <label class="options-group-label">{{ product.options.first }}</label>  
        <div class="flex flex-r options-group">
            {% for variant in product.variants %}
                <div>
                    <input 
                    type="radio" 
                    name="id" 
                    data-variant-option
                    id="{{ variant.id }}"
                    value="{{ variant.id }}" 
                    {% if variant.selected %}checked{% endif %}
                    class="option {% if variant.available == false%}sold-out{% endif %}"
                    {% if variant.available == false%}disabled{% endif %}>
                    <label for="{{ variant.id }}">{{ variant.title }}</label>
                </div>
            {% endfor %}
        </div>
        </ul>
    {% endif %}
{% endif %}