<!doctype html>
<html>
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.shopify.com/s/files/1/0582/1284/3714/files/apple-touch-icon.png?v=1630443644">
  <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.shopify.com/s/files/1/0582/1284/3714/files/favicon-32x32.png?v=1630443645">
  <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.shopify.com/s/files/1/0582/1284/3714/files/favicon-16x16.png?v=1630443644">
  <link rel="manifest" href="https://cdn.shopify.com/s/files/1/0582/1284/3714/files/site.webmanifest?v=1630443645">
  <link rel="mask-icon" href="https://cdn.shopify.com/s/files/1/0582/1284/3714/files/safari-pinned-tab.svg?v=1630443644" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  {{ content_for_header }} <!-- Header hook for plugins -->
  {{ 'main.css' | asset_url | stylesheet_tag }}
  {{ 'dist.min.js' | asset_url | script_tag }}
  {{ 'application.js' | asset_url | script_tag }}
</head>
<body>
    {% section 'header' %}

  <main role="main">
    {{ content_for_layout }}
  </main>
  {%- section 'go-cart' -%}
  <script>
    var goCart = new GoCart();
  </script>
</body>
</html>
