<section class="offset-top-large" data-section-id="cart">
    <form action="/cart" method="post" novalidate>
        <div class="gc">
            <div class="d-2-12 cart-page-title">
                <h1>Cart</h1>
            </div>
            {% if cart.item_count > 0 %}
                <div class="d-2-12 m-1-13 cart-header flex flex-s-between flex-r">
                    <p>ITEMS</p>
                    <p>TOTAL</p>
                </div>
                <div class="d-2-12 m-1-13 cart-contents">
                    {% for item in cart.items %}
                        <div class="cart-item">
                            <div class="cart-item-image">
                                <a href="{{ item.url | within: collections.all }}">
                                    <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
                                </a>
                            </div>
                            <div class="cart-item-ui flex flex-column flex-s-between">
                                <div>
                                    <p>{{ item.title }}</p>
                                    <p>{{ item.price | money_with_currency }}</p>
                                </div>
                                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">remove</a>
                            </div>
                                <p class="line-price">{{ item.line_price | money_with_currency }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="d-9-12 t-1-13 m-1-13 checkout-ui">
                    <div>
                        <div class="flex flex-r flex-s-between">
                            <p class="bold">SUBTOTAL</p>
                            <p class="bold">{{ cart.total_price | money_with_currency }}</p>
                        </div>
                        <p class="small">Shipping and delivery costs will be calculated at check out.</p>
                        <button class="primary full-width" type="submit" name="checkout">Checkout</button>
                    </div>
                </div>
            {% else %}
                <div class="d-1-13 empty-cart-notice">
                    <a href="/collections/all">Back to shop</a>
                </div>
            {% endif %}
        </div>
    </form>
</section>
