<section data-section-id="boutiques">
    <div class="gc">
        <div class="d-1-13 r-1" style="z-index: -1;">
            {% if section.settings.hero_image != blank %}
                {% include 'image', 
                    imageFile: section.settings.hero_image,
                    userSetAspectRatio: 'ratio-3-2',
                    imageBleed: 'full'
                %}
            {% endif %}
        </div>
        <div class="d-7-13 r-1 flex flex-middle">
            <article class="boutiques-block">
                <h1 class="medium block">{{ page.title }}</h1>
                {% if section.settings.intro_text %}
                    <div class="text-block block">
                        {{ section.settings.intro_text | html }}
                    </div>
                {% endif %}
                {% if section.settings.contact_phone %}
                    <a class="block" href="tel:{{ section.settings.contact_phone }}">{{ section.settings.contact_phone }}</a>
                {% endif %}
                {% if section.blocks.size > 0 %}
                {% for block in section.blocks %}
                    {% if block.settings.day %}
                        <div class="open-hours-grid">
                            <p>{{block.settings.day}}</p>
                            <p>{{ block.settings.open_hours }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
                {% endif %}

            </article>
        </div>
    </div>
</section>

{% schema %}
{
    "settings": [
        {
            "type": "image_picker",
            "id": "hero_image",
            "label": "Hero Image"
        },
        {
            "type": "richtext",
            "id": "open_hours",
            "label": "Open Hours"
        },
        {
            "type": "text",
            "id": "contact_phone",
            "label": "contact_phone"
        },
        {
            "type": "richtext",
            "id": "intro_text",
            "label": "Intro Text"
        }
    ],
    "blocks": [
        {
            "name": "day",
            "type": "date",
            "settings": [
                {
                    "type": "text",
                    "id": "day",
                    "label": "Day"
                },
                {
                    "type": "text",
                    "id": "open_hours",
                    "label": "Open Hours"
                }
            ]
        }
    ]
}
{% endschema %}