<section class="offset-top-medium" data-section-id="product" data-product-id="{{ product.handle }}">
    <div class="gc">
        <div class="d-1-6 m-1-13">
            <div class="swiper-container product--carousel image-container image-bleed-to-left">
                <div class="swiper-wrapper">
                    {% if product.metafields.product.main_image %}
                        <div class="swiper-slide">
                            {% include 'product-main-image' %}
                        </div>
                    {% endif %}
                {% for image in product.images %}
                    <div class="swiper-slide">
                    {% include 'image', 
                        imageFile: image,
                        userSetAspectRatio: 'ratio-1-1',
                        userSetImageFit: 'cover'
                    %}
                    </div>
                {% endfor %}
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button swiper-button-prev">
                {% include 'icon-arrow' %}
                </div>
                <div class="swiper-button swiper-button-next">
                {% include 'icon-arrow' %}
                </div>
            </div>
        </div>
        <div class="d-7-11 offset-top-medium">
            <div class="product--meta text-block">
                <h1>{{ product.title }}</h1>
                <p class="product-price">{{ product.price | money_with_currency }}</p>
                <form action="/cart/add" method="post" enctype="multipart/form-data"  
                id="add-to-cart-{{ product.handle }}-{{ collection.handle }}-{{ section.id }}">
                {% if product.variants.size > 0 %}
                <ul class="options options-grid">
                <label class="options-group-label">{{ product.options.first }}</label>  
                <div class="flex flex-r options-group">
                    {% for variant in product.variants %}
                        <div class="product-checkbox--container">
                            <input 
                            type="radio" 
                            name="id" 
                            data-variant-option
                            data-variant-price="{{ variant.price | money_with_currency }}"
                            id="{{ variant.id }}"
                            value="{{ variant.id }}" 
                            {% if variant.selected %}checked{% endif %}
                            class="product-checkbox {% if variant.available == false%}sold-out{% endif %}"
                            {% if variant.available == false%}disabled{% endif %}>
                            <label class="flex flex-center flex-middle" for="{{ variant.id }}">{{ variant.title }}</label>
                        </div>
                    {% endfor %}
                </div>
                </ul>
            {% endif %}
                    <div class="button-group flex flex-r">
                        <button type="button" onclick="dec('quantity')">-</button>
                        <input type="number" min="1" id="Quantity" name="quantity" value="1" pattern="[0-9]*">
                        <button type="button" onclick="inc('quantity')">+</button>
                    </div>
        
                    <button  
                    type="button"
                    name="add" 
                    data-add-to-cart 
                    class="js-go-cart-add-to-cart primary"
                    {%- unless current_variant.available -%}disabled="disabled"{%- endunless -%}> 
                        <span data-add-to-cart-text> 
                            {%- if current_variant.available -%} 
                                ADD TO CART
                            {%- else -%} 
                                SOLD OUT
                            {%- endif -%} 
                        </span>
                    </button> 
                </form>
                <div class="rte text-block grey">
                    {{ product.content | markdown }}
                </div>
            </div>
        </div>
    </div>
</section>

{% if product.metafields.custom.quote %}
    {% include 'product--quote' %}
{% endif %}

<script>
    const addToCartButtonText=document.querySelector('span[data-add-to-cart-text]');
    const addToCartButton=document.querySelector('button[data-add-to-cart]');
    const preselectedVariant=document.querySelectorAll('input[name="id"]:checked');
    const variantOptions=document.querySelectorAll('input[name="id"]');
    const productPrice=document.querySelector('.product-price');

    // ON MANUAL VARIANT SELECT
    var prev = null;
    for (var i = 0; i < variantOptions.length; i++) {
        variantOptions[i].addEventListener('change', function() {
            if (this !== prev) {
                prev = this;
                productPrice.innerHTML=this.getAttribute('data-variant-price');
                addToCartButtonText.innerHTML='Add to cart';
                addToCartButton.classList.remove('disabled');
                addToCartButton.removeAttribute('disabled');
            }
        });
    }
    
    // PRESELECTED VARIANT FROM COLLECTION PAGE
    if(preselectedVariant.length > 0) {
        addToCartButtonText.innerHTML='Add to cart';
        addToCartButton.classList.remove('disabled');
    } else {
        addToCartButtonText.innerHTML='Select an Option';
        addToCartButton.classList.add('disabled');
    }

    function inc(element) {
        let el = document.querySelector(`[name="${element}"]`);
        el.value = parseInt(el.value) + 1;
    }

    function dec(element) {
        let el = document.querySelector(`[name="${element}"]`);
        if (parseInt(el.value) > 0) {
            el.value = parseInt(el.value) - 1;
        }
    }

</script>