{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}

<section class="product-page" data-product-id="{{ product.handle }}">
<div class="gc">
    <div class="d-1-7 m-1-13">
    <div class="swiper-container product-carousel image-container image-bleed-to-left">
        <div class="swiper-wrapper">
        {% for image in product.images %}
            <div class="swiper-slide">
            {% include 'image', 
                imageFile: image,
                userSetAspectRatio: 'ratio-2-3',
                userSetImageFit: 'contain',
                userSetImageFit
            %}
            </div>
        {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button swiper-button-prev">
        {% include 'icon-arrow' %}
        </div>
        <div class="swiper-button swiper-button-next">
        {% include 'icon-arrow' %}
        </div>
    </div>
    </div>
    <div class="product-information d-8-11 m-1-13 offset-top-large">
        <h1 class="medium">{{ product.title }}</h1>
        <p class="medium">{{ current_variant.price | money }}</p>
        <form action="/cart/add" method="post" enctype="multipart/form-data"  
        id="add-to-cart-{{ product.handle }}-{{ collection.handle }}-{{ section.id }}">
            {% include 'product-variant-options',
            context: 'product-page' 
            %}
            <div class="visually-hidden">
                <label for="Quantity">quantity</label>
                <input type="number" id="Quantity" name="quantity" value="1" min="1">
            </div>
            <button  
            type="button"
            name="add" 
            data-add-to-cart 
            class="js-go-cart-add-to-cart primary"
            {%- unless current_variant.available -%}disabled="disabled"{%- endunless -%}> 
                <span data-add-to-cart-text> 
                    {%- if current_variant.available -%} 
                        ADD TO CART
                    {%- else -%} 
                        SOLD OUT
                    {%- endif -%} 
                </span>
            </button> 
        </form>
        {% if section.settings.payment_provider_a and section.settings.payment_provider_b %}
        <div class="alternate-payment-providers flex flex-r">
            {% include 'image', 
                imageFile: section.settings.payment_provider_a,
                userSetAspectRatio: 'ratio-auto',
                userSetImageFit: 'contain'
            %}
            {% include 'image', 
                imageFile: section.settings.payment_provider_b,
                userSetAspectRatio: 'ratio-auto',
                userSetImageFit: 'contain'
            %}
        </div>
        {% endif %}
        <div class="text-block">{{ product.description }}</div>
        <div class="product-more-information flex flex-r flex-s-between">
            <ul>
                <li><button class="small" role="button" data-toggle-product-size-guide>Size Guide</button></li>
                <li><a href="pages/enquires" class="small">Enquire</a></li>
                <li><a href="pages/enquires" class="small">Payment Options</a></li>
            </ul>
            <ul>
                <li><a href="pages/enquires" class="small">Shipping</a></li>
                <li><a href="pages/enquires" class="small">Returns</a></li>
            </ul>
        </div>
        </div>
        <div class="d-1-7 m-1-13 offset-top-large">
            {% include 'product-main-image' %}
        </div>
        <div class="d-8-11 m-1-13">
            {% include 'product-hover-image' %}
        </div>
    </div>
</section>

{% schema %}
{
    "settings": [
        {
            "type": "image_picker",
            "id": "payment_provider_a",
            "label": "Alternate Payment Provider (A)"
        },
        {
            "type": "image_picker",
            "id": "payment_provider_b",
            "label": "Alternate Payment Provider (B)"
        }
    ]
}
{% endschema %}

<script>
    const addToCartButtonText=document.querySelector('span[data-add-to-cart-text]');
    const addToCartButton=document.querySelector('button[data-add-to-cart]');
    const preselectedVariant=document.querySelectorAll('input[name="id"]:checked');
    const variantOptions=document.querySelectorAll('input[name="id"]');

    // ON MANUAL VARIANT SELECT
    var prev = null;
    for (var i = 0; i < variantOptions.length; i++) {
        variantOptions[i].addEventListener('change', function() {
            if (this !== prev) {
                prev = this;
                addToCartButtonText.innerHTML='Add to cart';
                addToCartButton.classList.remove('disabled');
            }
        });
    }
    
    // PRESELECTED VARIANT FROM COLLECTION PAGE
    if(preselectedVariant.length > 0) {
        addToCartButtonText.innerHTML='Add to cart';
        addToCartButton.classList.remove('disabled');
    } else {
        addToCartButtonText.innerHTML='Select an Option';
        addToCartButton.classList.add('disabled');
    }

</script>

